<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>elitaylor.io: Homepage</title>

    <link rel="stylesheet" type="text/css" href="main.css">
    
</head>
<body>
    
    <div class="nav">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">References</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Contact</a></li>
            <li>
                <div class="dropdown">
                    Themes
                    <div class="dropdown-content">
                        <a href="google.com">x</a>
                        <a href="">y</a>
                        <a href="">z</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="section main">
        <!--<img src="Sunrise.jpg" alt="PHP Code Development Image">-->
        <div class="overlay">
            <h1>Zachariah Eli Taylor</h1>
            <h2>Providing Software Solutions</h2>
        </div>
    </div>

    <div class="section first">
        <div class="content">
            <img src="fullstack.svg" alt="Animated Full Stack Developer Image" height="500" width="500" style="float:left;"/>
            <div>
                <h1>Web Development</h1>
                <h2>Front-End</h2>
                <div >
                    <img src="css3.svg" alt="CSS3 Logo" height="100" width="100" />
                    <img src="html5.svg" alt="HTML5 Logo" height="100" width="100" />
                    <img src="javascript.png" alt="Javascript Logo" height="100" width="80" />
                    <img src="jQuery.gif" alt="HTML5 Logo" height="100" width="100" />
                </div>
                <h2>Back-End</h2>
            </div>
        </div>
    </div>

    <div class="section second">
        <div class="content">
            <div style="float:left">
                <h1>Web Development</h1>
                <h2>Front-End</h2>
                <div >
                    <img src="css3.svg" alt="CSS3 Logo" height="100" width="100" />
                    <img src="html5.svg" alt="HTML5 Logo" height="100" width="100" />
                    <img src="javascript.png" alt="Javascript Logo" height="100" width="80" />
                    <img src="jQuery.gif" alt="HTML5 Logo" height="100" width="100" />
                </div>
                <h2>Back-End</h2>
            </div>
            <img src="fullstack.svg" alt="Animated Full Stack Developer Image" height="500" width="500" style="float:right;"/>
        </div>
    </div>
    
</body>
</html>