<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>elitaylor.io: Homepage</title>

    <link rel="stylesheet" type="text/css" href="blue.css">
    
</head>
<body>
    
    <div class="nav">
        <ul>
            <li><a href="">Contact</a></li>
            <li class="javascript">
                <div class="dropdown">
                    Themes
                    <div class="dropdown-content">
                        <a href="google.com">x</a>
                        <a href="">y</a>
                        <a href="">z</a>
                    </div>
                </div>
            </li>
            <li><a href="">Links</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">References</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Home</a></li>
        </ul>
    </div>

    
</body>
</html>