<% include ../partials/head %>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="section main whole">
            <!--<img src="Sunrise.jpg" alt="PHP Code Development Image">-->
            <div class="overlay">
                <h1>Zachariah Eli Taylor</h1>
                <h2>Providing Software Solutions</h2>
            </div>
        </div>

        <div class="section webDev textWhite">
                <h1 class="title textShadowBlack">Web Development</h1>
                <hr style="width:70%;">
                <div class="content">
                    <h2 class="subtitle">Front-End</h2>
                    <div >
                        <div class="webLogo">
                            <img src="css3.svg" alt="CSS3 Logo" height="100" width="100" />
                            <span class="text">CSS</span>
                        </div>
                        <div class="webLogo">
                            <img src="html5.svg" alt="HTML5 Logo" height="100" width="100" />
                            <span class="text">HTML</span>
                        </div>
                        <div class="webLogo">
                            <img src="javascript.svg" alt="Javascript Logo" />
                            <span class="text">Javascript</span>
                        </div>
                        <div class="webLogo">
                            <img src="jQuery.gif" alt="jQuery Logo" height="100" width="100" />
                            <span class="text">jQuery</span>
                        </div>
                        <div class="webLogo">
                            <img src="angular.svg" alt="AngularJS Logo" height="100" width="100" />
                            <span class="text">AngularJS</span>
                        </div>
                        <div class="webLogo">
                            <img src="bootstrap.svg" alt="Bootstrap Logo" height="100" width="100" />
                            <span class="text">Bootstrap</span>
                        </div>
                    </div>
                    <h2 class="subtitle">Back-End</h2>
                     <div >
                        <div class="webLogo reversewebLogo">
                            <img src="php.svg" alt="PHP Logo" height="100" width="100" />
                            <span class="text">PHP</span>
                        </div>
                        <div class="webLogo reversewebLogo">
                            <img src="nodejs.png" alt="NodeJS Logo" height="100" width="100" />
                            <span class="text">NodeJS</span>
                        </div>
                        <div class="webLogo reversewebLogo">
                            <img src="express.png" alt="ExpressJS Logo" />
                            <span class="text">ExpressJS</span>
                        </div>
                        <div class="webLogo reversewebLogo">
                            <img src="mongodb.png" alt="MongoDB Logo" height="100" width="100" />
                            <span class="text">MongoDB</span>
                        </div>
                        <div class="webLogo reversewebLogo">
                            <img src="mysql.png" alt="MySQL Logo" height="100" width="100" />
                            <span class="text">MySQL</span>
                        </div>
                    </div>
                </div>
        </div>

        <div class="breakLake"></div>

        <div class="section OOP textWhite">
            <h1 class="title textShadowBlack">Object Oriented</h1>
             <div class="content">
                <div class="oopLogo">
                    <img src="cpp.svg" alt="C++ Logo" height="100" width="100" />
                    <span class="text">C++</span>
                </div>
                <div class="oopLogo">
                    <img src="csharp.png" alt="C# Logo" height="100" width="100" />
                    <span class="text">C#</span>
                </div>
                <div class="oopLogo">
                    <img src="java.svg" alt="Java Logo" height="100" width="100" />
                    <span class="text">Java</span>
                </div>
                <div class="oopLogo">
                    <img src="php.svg" alt="PHP Logo" height="100" width="100" />
                    <span class="text">PHP</span>
                </div>
                <div class="oopLogo">
                    <img src="swift.svg" alt="Swift Logo" height="100" width="100" />
                    <span class="text">Swift</span>
                </div>
             </div>
        </div>

        <div class="breakZion"></div>

        <div class="section textGreen Embedded">
            <h1 class="title">Embedded Systems</h1>
             <div class="content">
                <div class="embLogo">
                    <img src="cpp.svg" alt="Assembly Logo" height="100" width="100" />
                    <span class="text">Assembly</span>
                </div>
                <div class="embLogo">
                    <img src="cpp.svg" alt="C Logo" height="100" width="100" />
                    <span class="text">C&nbsp;</span>
                </div>
                <div class="embLogo embLogoReverse">
                    <img src="cpp.svg" alt="VHDL Logo" height="100" width="100" />
                    <span class="text">VHDL</span>
                </div>
             </div>
        </div>

    </main>
    
</body>
</html>
