/*
Color Scheme
A Beautiful Day
rgb(253,125,1)
#f6c293
#8dbbb8
#53a0b0
#346d88
#0f3542

*/

/*
Main HTML Elements

Includes:
HTML
Body
*/
html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    
    font-family: sans-serif;
    font-weight: lighter;
    min-height: 100%;
    font-size: 62.5%;
}

/*
Basic inline css avoiders.

Includes
inline - display box inline.
*/
.inline{
    display:inline;
}

.textWhite{
    color: #ffffff;
}

.textGreen{
    color: rgb(74,147,4);
    text-shadow: 0px 2px 3px rgb(124,197,54);
}

.textShadowBlack{
    text-shadow: 3px 3px 6px #000000;
}

.textShadowWhite{
    text-shadow: 2px 2px 4px #FFFFFF;
}

.backgroundCharcoal{
    background:rgb(39, 40, 34);
}
/*
Javascript changable css

Includes
javascript - Will not display unless javascript works.
*/
.javascript{
    display:none;
}

/*
Navigation bar css

Includes
nav - main attributes
ul - attributes of unordered lists
li - setting all lists to float left and line up.
dropdown - creating drop down boxes for lists.
svg - floats logo right and gives it similar padding to tabs.
*/
.nav{
    position: fixed;
    vertical-align: top;
    width: 100%;
    font-size: 1.7em;
    border: solid .1em lightgrey;
    max-height: 3em;
    background:rgb(255, 255, 255);
    background:rgba(255, 255, 255, .8);
    z-index: 5;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding-right: 2em;
    overflow: hidden;
    display:inline;
    float:right;
}

.nav li{
    float: left;
}

.nav .end{
    padding-right: 60px;
}

.nav a, .dropdown {
    display: block;
    color: rgb(155, 155, 155);
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
}

.nav a:hover, .dropdown:hover {
    color: black;
    display:block;
}

.nav li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10.5em;
    box-shadow: 0em 1em 1.5em 0em rgba(0,0,0,0.2);
    padding: 1em 1.5em;
}

.nav li .dropdown:hover .dropdown-content{
    display:block;
}

.nav svg {
    display: block;
    text-align: center;
    padding: 1.5em;
    float: left;
}

/*
Section css

Includes
section - Defines a section and gives it a height.
main - gives the backgorund image for the main header
first - Gives background and height to first section
content - Sets an area within that contains padding.

*/
.section{
    width:auto;
    max-width: 100%;
    overflow:hidden;
}

.whole{
    height:100vh;
}
.half{
    height:50vh;
}

.main{
    background: url(Sunrise.jpg);
    background-color: rgb(253,125,1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.webDev{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    /*background-color: rgb(39, 40, 34);*/
}

.OOP{
    background-color: rgb(214,208,198);
}

.Embedded{
    background: url(Leaf.jpg);
    background-color: rgb(253,125,1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.breakLake{
    background: url(Lake.jpg);
    background-color: rgb(253,125,1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 15em;
}

.breakZion{
    background: url(Zion.jpg);
    background-color: rgb(253,125,1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 15em;
}

.section .title{
    font-size: 7em;
    text-align: center;
}

.section .subtitle{
    font-size: 3em;
}

.content{
    padding: 2em;
    margin:auto;
    text-align:center;
}

.column-2{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;
}

/*
Overlay CSS - Contains overlays and thier text counterparts

Includes
main overlay - orange tinge
main overlay h1- center and visual
main overlay 2 - smaller clear
*/
.main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    height:100vh;
    width:100%;
    vertical-align: top;
    background:rgb(253, 125, 1);
    background:rgba(253, 125, 1, 0);
}

.main .overlay h1{
    position:relative;
    top:25%;
    text-align: center;
    color:rgb(0,0,0);
    opacity: .6;
    font-size:10em;
    text-shadow: 3px 3px 6px #000000;
    
}

.main .overlay h2{
    position:relative;
    top:25%;
    text-align: center;
    color:rgb(255,255,255);
    opacity: .6;
    font-size:7em;
    text-shadow: 3px 3px 6px #000000;
}

.blackOverlay{
    position: relative;
    top: 0;
    left: 0;
    display:block;
    height:inherit;
    width:100%;
    vertical-align: top;
    background:rgb(39, 40, 34);
    background:rgba(39, 40, 34, .5);
}

/*
Logo image css

Includes
webLogo
oopLogo
*/

.webLogo{
    display:inline-block;
    margin:2em;
    width: 11em;
    height: 11em;
    padding: 2.5em;
    border: .1em solid blue;
    border-radius: 0em 5em;
    background: #474747;
}

.reverseWebLogo{
    border-radius: 5em 0em;
}

.webLogo img{
    width: 10em;
    height: 10em;
}

.webLogo .text{
    font-weight: 900;
    font-size: 2em;
    color:#222;
    text-shadow: 0px 2px 3px #555;
}

.oopLogo{
    display:inline-block;
    margin:2em;
    width: 11em;
    height: 11em;
    padding: 2.5em;
    border: .25em solid rgb(204, 198, 188);
    border-radius: 1em;
    background: rgb(194,188,178);
}

.oopLogo img{
    width: 10em;
    height: 10em;
}

.oopLogo .text{
    font-weight: 900;
    font-size: 2em;
    color: rgb(100, 100, 100);
    text-shadow: 0px 2px 3px rgb(150, 150, 150);
}

.embLogo{
    display:inline-block;
    margin:2em;
    width: 12em;
    height: 13em;
    padding: 2.5em;
    border: .25em solid rgb(124,197,54);
    border-radius: 0em 12em 1em 11em;
    background: rgb(74,147,4);
}

.embLogoReverse{
    border-radius: 12em 0em 11em 1em;
}

.embLogo img{
    width: 10em;
    height: 10em;
}

.embLogo .text{
    font-weight: 900;
    font-size: 2em;
    color: rgb(54,127,10);
    text-shadow: 0px 2px 3px rgb(74, 147, 34);
}
