/*
Color Scheme
A Beautiful Day
rgb(253,125,1)
#f6c293
#8dbbb8
#53a0b0
#346d88
#0f3542

*/

/*
Main HTML Elements

Includes:
HTML
Body
*/
html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    
    font-family: sans-serif;
    font-weight: lighter;
    min-height: 100%;
    font-size: 62.5%;
}

/*
Basic inline css avoiders.

Includes
inline - display box inline.
*/
.inline{
    display:inline;
}

/*
Javascript changable css

Includes
javascript - Will not display unless javascript works.
*/
.javascript{
    display:none;
}

/*
Navigation bar css

Includes
nav - main attributes
ul - attributes of unordered lists
li - setting all lists to float left and line up.
dropdown - creating drop down boxes for lists.
svg - floats logo right and gives it similar padding to tabs.
*/
.nav{
    position: fixed;
    vertical-align: top;
    width: 100%;
    font-size: 1.7em;
    border: solid .1em lightgrey;
    max-height: 3em;
    background:rgb(255, 255, 255);
    background:rgba(255, 255, 255, .8);
    z-index: 5;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding-right: 2em;
    overflow: hidden;
    display:inline;
    float:right;
}

.nav li{
    float: left;
}

.nav .end{
    padding-right: 60px;
}

.nav a, .dropdown {
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 1.5em;
    text-decoration: none;
}

.nav a:hover, .dropdown:hover {
    color: black;
    display:block;
}

.nav li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10.5em;
    box-shadow: 0em 1em 1.5em 0em rgba(0,0,0,0.2);
    padding: 1em 1.5em;
}

.nav li .dropdown:hover .dropdown-content{
    display:block;
}

.nav svg {
    display: block;
    text-align: center;
    padding: 1.5em;
    float: left;
}

/*
Section css

Includes
section - Defines a section and gives it a height.
main - gives the backgorund image for the main header
first - Gives background and height to first section
content - Sets an area within that contains padding.

*/
.section{
    width:auto;
    max-width: 100%;
    overflow:hidden;
}

.main{
    height:100vh;
    background: url(Sunrise.jpg);
    background-color: rgb(253,125,1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.first{
    background-color: #f6c293;
}

.second{
    background-color: #53a0b0;
}

.content{
    font-size: 2em;
    padding: 2em;
}

.column-2{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 1em; /* Chrome, Safari, Opera */
    -moz-column-gap: 1em; /* Firefox */
    column-gap: 1em;
}

/*
Overlay CSS - Contains overlays and thier text counterparts

Includes
main overlay - orange tinge
main overlay h1- center and visual
main overlay 2 - smaller clear
*/
.main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    height:100vh;
    width:100%;
    vertical-align: top;
    background:rgb(253, 125, 1);
    background:rgba(253, 125, 1, 0);
}

.main .overlay h1{
    position:relative;
    top:25%;
    text-align: center;
    color:rgb(0,0,0);
    opacity: .6;
    font-size:7em;
}

.main .overlay h2{
    position:relative;
    top:25%;
    text-align: center;
    color:rgb(255,255,255);
    opacity: .8;
    font-size:5em;
}



